@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Hi there!</h1>
<h2 class="text-danger">I don't think you should be here.....</h2>
<img src="~/image/Free Angry Cats Vector.svg" />
<a href="https://www.vecteezy.com/free-vector/angry-cat">Angry Cat Vectors by Vecteezy</a>