@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To access the admin panel do login using your Google account</p>
    <a href="/account/google-login"><img src="~/image/btn_google_signin_light_normal_web@2x.png" /></a>
</div>
